@tailwind base;
@tailwind components;
@tailwind utilities;
.gradient-text {
    
    background: linear-gradient(to left top, rgb(236, 72, 153), rgb(239, 68, 68), rgb(234, 179, 8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    .embla {
        overflow: hidden;
      }
      .embla__container {
        display: flex;
      }
      .embla__slide {
        margin-left: 12px;
        margin-right: 12px;
        flex: 0 0 70%;
      }
